*{
    margin : 0px;
    padding : 0px ;
    border : 0px;
}
body {
    background-image:url("bg2.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div{
    margin :  auto;
}
.calculator_title{
    text-align: center;
    font-family: 'Rubik Wet Paint', cursive;
    color: white;
    font-size: 100px;
   
    
}
.body{
    height: 706px;
    width: 534px;
    background-color: rgb(94, 90, 90);
    margin-top: 25px;
    border-radius: 30px;
    padding-top: 5px;
    box-sizing:border-box ;
}

.screen{
    background-color:white;
    height: 88px;
    width: 524px; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: 58px;
    text-align: right;
    color: black;
    padding-top: 9px;
    box-sizing: border-box;
}
.keys{
    background-color:white;
    height: 589px;
    width: 524px; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-top: 19px;
    box-sizing:border-box ;
    padding-left: 58px;
    padding-top: 30px;
}
button{
    margin: 5px;
    width : 87px;
    height: 93px;
    border-radius:10px;
    color:white;
    font-size:36px;
    background-color: black;
    border: 5px solid black;
}
#mode{
    width: 288px;
}
#clear{
    background-color: red;
}
#equals{
    background-color: rgb(252, 178, 19);
}
#addition ,  #substraction , #multiplication , #division{
    background-color: blueviolet;
}
#mode{
    background-color:blue;
}
a{
    color:white;
    text-decoration: none;
}
.footer{
    margin-top: 20px;
        color:white;
        font-size: 60px;
        border: 10px dashed white;
        width: 1644px;
    text-align: center;
}
.input{
    background-color:white;
    height: 88px;
    width: 524px; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}